# ==========================
# IDE 配置文件（每个人不同）
# ==========================
.vscode/
.idea/
.DS_Store

# ==========================
# 编译生成的文件（必须忽略）
# ==========================
build/
cmake-build-*/
*.o
*.out
*.exe
*.so
*.a
*.dll
*.dylib

# ==========================
# CMake 自动生成的文件
# ==========================
Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake

# ==========================
# 日志 / 临时文件
# ==========================
*.log
*.tmp
temp/